<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Estilos.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos2.css'%}">
    <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio session</title>
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>DNAC<span></span></div>
    </div>
    <br>
    <div class="login">

        <form method="POST">
            {% csrf_token %}
            <label>Nombre Usuario</label>
            {{form.username}}
            <label>Contraseña</label>
            {{form.password}}
            <div class="juntar">
                <button class="submit" ><span>Iniciar sesion</span></button>
            </div>
        </form>
    </div>
</html>